@tailwind base;
@tailwind components;
@tailwind utilities;

.project-image {
    width: 100%; /* Set the width to 100% to fill the container */
    height: 250px; /* Set a fixed height for all images */
    object-fit: cover; /* Scale the image while preserving its aspect ratio */
    object-position: center; /* Center the image within its container */
  }
